*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgb(180, 180, 180);
  }

  .columna-1 {
    width: 20%;
    float: left;
    margin-right: 20px;
  }

  .columna-1 {
    background-color: rgb(0, 255, 30);
  }

  .columna-2{
    background-color: rgb(248, 251, 46);
    width: 57%;
    float: left;
  }
  .letras{
    float: left;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .columna-2 img{
    padding-top: 20px;
    max-width: 40%;
    float: right;
  }

  .columna-3{
    background-color: rgb(97, 97, 97);
    width: 20%;
    float: right;
  }
  
@media screen and (max-width:760px){
  .columna-1{
    height: 100%;
  }
  .columna-2{
    width: 75%;
  }
  .columna-3{
    margin-right: 2%;
    width: 75%;
  }
}
  
@media screen and (max-width :420px){
  img{
    visibility: hidden;
    display: none;
  }
  .columna-2,.letras{
    height: 20%;
  }
  .columna-1,.columna-2,.letras,.columna-3{
    width: 100%;
    margin-right: 0;
  }
}
  
  
  